body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #aaa;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 8px;
    background: rgb(255, 123, 0);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.msg {
    text-align: center;
    margin-top: 15px;
    color: green;
}
